<strong>Olá, {{ courier }}</strong>
<p>Uma nova encomenda foi cadastrada para você!</p>
<p>Detalhes da entrega:</p>
<p>
  <strong>Produto: </strong>{{ product }} <br />
  <strong>Destinatário: </strong>{{ recipient }}
</p>
<p>A encomenda já está disponível para retirada.</p>
<div style="width: 100%; text-align: center; margin: 45px 0 0;">
  <a style="padding: 7px 30px; background: #7d40e7; color: #FFF; font-weight: bold; text-transform: uppercase; border-radius: 7px;">Retirar</a>
</div>
